@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
    --white: #ffffff;
    --black: #000;
    --navBlack: #000000E6;
    --pink: #fa96aa;
    --grey: #d9d9d9;
    --txtGrey: #707070;


    --XL: 54px;
    --large: 28px;
    --semi: 22px;
    --small: 18px;

    --thick: 700;
    --medium: 400;
    --thin: 300;

    --font: 'Quicksand', sans-serif;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
    overflow: visible;

}

/* LANDING PAGE */

.landing-txt-wrapper {
    position: absolute;
    background-color: #F7F0F2;
    top: 30%;
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.landing-txt-wrapper h1 {
    color: var(--black);
    font-size: 52px;
    width: 280px;
    text-transform: uppercase;
    font-weight: var(--thick);
}

.landing-txt-wrapper h6 {
    color: var(--black);
    font-size: var(--medium);
    width: 180px;
    font-weight: var(--medium);
    text-align: center;
}

.landing-txt-wrapper button{
    width: 320px;
    height: 60px;
    background-color: var(--pink);
    color: var(--white);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px;
    border: none;
    font-size: var(--medium);
    font-weight: var(--thick)
}


.landing-img{
    height: 600px;
    background-image: url(assets/headers/front.jpg);
    background-size: cover;
}

.fadeUp-ani{
    animation: fadeUp 1s ease-in-out;

}

.landing-img img{
    height: 100%;
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.landing-txt-wrapper button a{
    color: var(--white);
    text-decoration: none;
}
.landing-txt-wrapper button:hover{
    transform: scale(.95);
    transition: all ease-in-out 0.3s;
    cursor: pointer;

}




@keyframes fadeUp{
    from{
        opacity: 0;
        transform:translateY(100px);
    }

    to{
        opacity: 1;
    }
}



/* CONTENT */




/* Landing page produkter */
.front-product-header-txt{
    margin: 5rem;
    opacity: 0;
}

.front-product-header-txt h2{
    font-size: var(--XL);
    color: var(--black);
    text-transform: uppercase;

}

.front-product-header-txt h2 span{
    font-size: var(--XL);
    color: var(--pink);
    text-transform: uppercase;


}

section{
    overflow: visible;
}


.front-product-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
}

.front-product-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: visible;

}

.product{
    width: 80%;
    max-height: 500px;
    border-radius: 15px 15px 15px 15px;
    background-color: var(--white);
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 20%;
    margin: 2rem;
    overflow: visible;

}


.product-txt h5{
    font-size: var(--semi);
    font-weight: var(--thin);


}
.product-txt h6{
    font-size: var(--semi);
    font-weight: var(--thick);
    padding-top: 2%;
}

.product img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 3px solid var(--pink);


}

.product-txt{
    height: 120px;
    width: 100%;
    padding-top: 10px;
    padding-left: 5px;
}


.product-container{
    overflow: visible;
}

/* Reviews */

.front-review-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.front-review-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.front-review-header-txt{
    margin: 5rem;
    text-align: center;
    opacity: 0;
}

.front-review-header-txt h2{
    font-size: var(--XL);
    color: var(--pink);
    text-transform: uppercase;
}

.front-review-header-txt h2 span{
    font-size: var(--XL);
    color: var(--black);
    text-transform: uppercase;

}

.reviews{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--txtGrey);
    opacity: 0;
    overflow: visible;


}

.reviews img{
    border-radius: 50%;
    border: 10px solid pink;
}

.review-H{
        height: 90vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: visible;
}

.review-H p{
    font-size: var(--semi);

}

.review-H h5{
    font-size: var(--semi);
    overflow: visible;

}
.review-K{
        height: 90vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}

.review-K p{
    font-size: var(--semi);
}

.review-K h5{
    font-size: var(--semi);
}

.review-line{
    width: 90%;
    background-color: var(--pink);
    border: none;
    height: 2px;
    margin-bottom: 2rem;
}


 .discount{
    left: 65%;
    bottom: 250px;
}

.discount{
    background-color: pink;
    width: 100px;
    text-align: center;
    height: 60px;
    border-radius: 15px;
    font-size: 18px;
    position: relative;
    left: 65%;
    overflow: visible;
    padding: 2% 4%;
    bottom: 250px;
}

.product-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
}

button.cartAdd {
    background-color: var(--pink);
    border: none;
    width: 100%;
    height: 60px;
    color: var(--white);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 0px 0px 15px 15px;
    font-size: var(--semi);
}
button.cartAdd:hover{
    cursor: pointer;
    color: black;

}

/* RESPONSIVE IPAD*/

@media screen and (min-width: 728px) {

    .landing-img{
        height: 100vh;
    }
    

    .front-product-wrapper{
        flex-direction: row;
    }



    .review-K{
        height: 60vh;
    }
    .review-H{
        height: 60vh;
    }



    .landing-txt-wrapper{
        transform: translate(2.5%);
        height: 50vh;
        width: 95%;
    }

    .landing-txt-wrapper h1{
        width: 415px;
        font-size: 80px;
        overflow: visible;
    }

    .landing-txt-wrapper button{
        width: 80%;
        font-size: var(--semi);
        padding: 2% 4%;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-smukNU{
        display: none;
    }

    .landing-txt-wrapper h6 {
        color: var(--black);
        font-size: var(--large);
        width: 350px;
    }

    
.review-line{
    width: 100%;

}
  }