@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
    --white: #ffffff;
    --black: #000;
    --pink: #fa96aa;
    --grey: #d9d9d9;


    --XL: 54px;
    --large: 28px;
    --medium: 22px;
    --small: 18px;

    --thick: 700;
    --medium: 400;
    --thin: 300;

    --font: 'Quicksand', sans-serif;

}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}



.product-landing{
    width: 100%;
    height: 80vh;
    background-image: url(../assets/headers/products.jpg);
    background-size: cover;
    background-position: center;
}

.landing-txt-container{
    background-color: black;
    color: white;
    height: 25vh;
    position: relative;
    top: 25%;
    text-align: center;

}
.landing-txt-container h1{
    font-size: var(--XL);
    text-transform: uppercase;
}

.landing-txt-container p{
    font-size: var(--small);
    padding-top: 3%;
}


.spacer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.spacer-container h2{
    font-size: var(--XL);
    color: var(--black);
    text-transform: uppercase;
}

.spacer-container span{
    color: var(--pink);
}

.products-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.products-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product{
    width: 90%;
    height: 400px;
    border-radius: 15px 15px 15px 15px;
    background-color: var(--white);
    border: grey 1px solid;
    margin-bottom: 20%;
}

.product-line{
    background-color: var(--pink);
    color: #fa96aa;
    width: 100%;
    position: relative;
    bottom: 5px;
}

hr{
    background-color: #fa96aa;
}

.product-txt h5{
    font-size: var(--large);
    font-weight: var(--thin);

}
.product-txt h6{
    font-size: var(--medium);
    font-weight: var(--thick);
    padding-top: 2%;
}

.product img{
    height: 300px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;

}

.product-txt{
    height: 60px;
    padding-left: 20px;
    padding-top: 10px;
}